<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Accueil</a>
        <a href="{{ url_for('submit_ticket') }}">Soumettre un Ticket</a>
        <a href="{{ url_for('logout') }}">Se déconnecter</a>
    </nav>

    <h1>Bienvenue, {{ current_user.username }} !</h1>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Vos Tickets</h2> <p>Nombre de tickets : {{ tickets|length }}</p>
{% if tickets %}
    <ul>
        {% for ticket in tickets %}
            <li>
                <strong>{{ ticket.title }}</strong> - {{ ticket.status }}<br>
                {{ ticket.description }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun ticket soumis pour le moment.</p>
{% endif %}

</body>
</html>