<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Accueil</a>
        <a href="{{ url_for('submit_ticket') }}">Soumettre un Ticket</a>
        <a href="{{ url_for('logout') }}">Se déconnecter</a>
    </nav>

<!-- {#    <h1>Bienvenue, {{ current_user.username }}  #} !</h1>-->
    <h1>Bienvenue, {{ current_user.nom }} {{ current_user.prenom }}!</h1>

    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Vos Tickets</h2>
    <p>Nombre de tickets : {{ tickets|length }}</p>
    {% if tickets %}
        <div class="tickets-container">
            {% for ticket in tickets %}
                <div class="ticket">
                    <div class="ticket-content">
                        <h2>{{ ticket.title }}</h2>
                        <br>
                        <p>{{ ticket.status }}</p>
                        <br>
                        <p>{{ ticket.description }}</p>
                        {% if ticket.attachment_path %}
                            <p>Pièce jointe: <a href="{{ url_for('download_attachment', ticket_id=ticket.id) }}" target="_blank">Télécharger la pièce jointe</a></p>
                        {% endif %}
                    </div>
                <a href="{{ url_for('chat', ticket_id=ticket.id) }}"> 💬 </a>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun ticket soumis pour le moment.</p>
    {% endif %}

</body>
</html>